@import "tailwindcss";

body{
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-button{
    background: linear-gradient(to right, #308AD9, #30BF97);
    color: white;
}

.gradient-text {
  background: linear-gradient(to right, #308AD9, #30BF97);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-bg{
  background: linear-gradient(to bottom, #fff, #f0f0f0, #d0fdf0);
}

.etiquette-bg{
  background: linear-gradient(to right, #d0fdf0, oklab(95.514% 0 -0.00011));
}